body{
    background-image:url("../image/004.jpeg");
}


h1{
    color: red;
}

p{
    color: black;
    font-weight: bold;
    font-size: 20;
}

.ac{
    color:brown
}

img{
    width: 300px;
    border-radius: 5%;
}

th{
    border:1px solid black
}